body{
    margin: 20px;
    paddig:0;
    background: darkblue;
}
.container{
    max-width: 760px;
    margin:auto;
    border: white solid 3px;
    background: white;
}
.main-img img, .imgs img{
 width:100%;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}