body{
    display: flex;
    flex-direction: column;

    

    font-size: 16px;
    line-height: 1.3em;
}
.row{
    height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.card-holder{
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8em;

    max-height: 300px;
    padding-left: 0.5em;
    padding-right: 1em;

    border: 2px solid greenyellow;
    overflow: auto;

    box-shadow: 1px 1px 5px grey;
}
.card{
    padding: 1em;
}
.card-holder> .card{
    
    background-color: antiquewhite;

}

.card-holder> .card:nth-child(odd){
    background-color: chocolate;
}

